<div class="hamburger">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</div>

<ul class='nav-menu'>
  <ul class='nav-item'>
    <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
  </ul>
</ul>  